.card {
    position: absolute;
    width: 500px;
    height: 500px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    transition: transform 0.5s;
    background-position: right;
    background-size: cover;
    transform: rotate(45deg);
    
}
.GFG {
    margin-top: 100px;
    margin-left: 500px;
    background-image: url(../images/istockphoto-1397892955-612x612.jpg);
 
}

.card:hover {
    transform: translateY(-10px);
}
#shelly {
    text-align: center;
    font-size: xx-large;
    color: whitesmoke;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(156,152,223);
background: linear-gradient(90deg, rgb(156, 152, 223) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    ;
  }
  
  .flip-card {
    background-color: transparent;
    width: 400px;
    height: 350px;
    perspective: 1000px;
    cursor: pointer;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #myVideo {
    position: relative;
    right: 10;
    bottom: 100;
    max-width: 100%; 
    max-height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .center {
    margin: 10px 350px;
    width : 100;
    height: 100;
  }
  .header {
    border-color: black;
    background-color: blue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  h1 {
    text-align: center;
    color:whitesmoke;
    text-shadow: 2px 2px 5px red;
  }
  